#vk_label{
  font-size: 160%;
  font-weight: bold;
}

#loading_label{
  font-size: 130%;
  padding-bottom: 1em;
}

#loading_vbox{
  margin: 10em;
}

#contribution_label{
  font-size: 100%;
  font-weight: bold;
  padding-top: 1em;
}
