#vk_panel-toolbar-button {
  list-style-image: url("chrome://vk_panel/content/vk-16.png");
}
/* Added for Australis support */
#vk_panel-toolbar-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #vk_panel-toolbar-button {
  list-style-image: url("chrome://vk_panel/content/vk-32.png");
}

#vk_panel-panel-iframe {
  -moz-appearance: none;
  border: none;
  margin: 0 -10px -10px -10px;
  padding: 0;
}

#vk_panel-panel-toolbar {
	-moz-appearance: none;
  border: none;
  margin: -10px -10px 0 -10px;
	padding: 0;
  background: #5682A3;
}

.vk_panel-toolbar-class-show{
  height: 24px;
}

.vk_panel-toolbar-class-hide{
  height: 2px;
  transition: height 0.5s ease-out 0s;
}

.vk_panel-toolbar-class-hide:hover {
  height: 24px;
  transition: height 0.5s ease-out 0s;
}

.vk_panel-toolbar-class-hide > .vk_panel-toolbarbutton-class {
  visibility: collapse;
}

#vk_panel-panel-toolbar:hover .vk_panel-toolbarbutton-class {
  visibility: visible;
}

#vk_panel-panel-toolbar > toolbarbutton{
  -moz-appearance: none;
	border: none;
	margin: 0;
	padding: 0px;
	width: 24px;
	height: 24px;
	background: none;
}

#vk_panel-toolbarButton_reload {
  list-style-image: url('chrome://vk_panel/content/controls.png');
	-moz-image-region: rect(0px, 240px, 24px, 216px);
}
#vk_panel-toolbarButton_reload:hover {
	-moz-image-region: rect(0px, 264px, 24px, 240px);
}
#vk_panel-toolbarButton_reload:active {
	-moz-image-region: rect(0px, 288px, 24px, 264px);
}

#vk_panel-toolbarButton_pin {
  list-style-image: url('chrome://vk_panel/content/controls.png');
	-moz-image-region: rect(0px, 24px, 24px, 0px);
}
#vk_panel-toolbarButton_pin:hover {
	-moz-image-region: rect(0px, 48px, 24px, 24px);
}
#vk_panel-toolbarButton_pin:active {
	-moz-image-region: rect(0px, 72px, 24px, 48px);
}

#vk_panel-toolbarButton_pin[checked] {
	-moz-image-region: rect(0px, 96px, 24px, 72px);
}
#vk_panel-toolbarButton_pin[checked]:hover {
	-moz-image-region: rect(0px, 120px, 24px, 96px);
}
#vk_panel-toolbarButton_pin[checked]:active {
	-moz-image-region: rect(0px, 144px, 24px, 120px);
}

#vk_panel-toolbarButton_close {
  list-style-image: url('chrome://vk_panel/content/controls.png');
	-moz-image-region: rect(0px, 168px, 24px, 144px);
}
#vk_panel-toolbarButton_close:hover {
	-moz-image-region: rect(0px, 192px, 24px, 168px);
}
#vk_panel-toolbarButton_close:active {
	-moz-image-region: rect(0px, 216px, 24px, 192px);
}

#vk_panel-toolbarButton_autoHide {
  list-style-image: url('chrome://vk_panel/content/controls.png');
	-moz-image-region: rect(0px, 384px, 24px, 360px);
}
#vk_panel-toolbarButton_autoHide:hover {
	-moz-image-region: rect(0px, 408px, 24px, 384px);
}
#vk_panel-toolbarButton_autoHide:active {
	-moz-image-region: rect(0px, 432px, 24px, 408px);
}

#vk_panel-toolbarButton_autoHide[checked] {
	-moz-image-region: rect(0px, 312px, 24px, 288px);
}
#vk_panel-toolbarButton_autoHide[checked]:hover {
	-moz-image-region: rect(0px, 336px, 24px, 312px);
}
#vk_panel-toolbarButton_autoHide[checked]:active {
	-moz-image-region: rect(0px, 360px, 24px, 336px);
}
